.dark-mode {
  --bright-blue: hsl(220, 98%, 61%);
  --bg-todo: hsl(235, 24%, 19%);
  --bg-clr: hsl(235, 21%, 11%);
  --font-clr: hsl(234, 39%, 85%);
  --heading-clr: hsl(236, 33%, 92%);
  --font-clr-hover: hsl(236, 33%, 92%);
  --font-clr-sec: hsl(234, 11%, 52%);
  --very-dark-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
  --bottom-buttons-clr: hsl(233, 14%, 35%);
  --shadow-clr: rgb(18, 17, 17);
  --bg-image: url("./images/bg-desktop-dark.jpg");
}

.light-mode {
  --bright-blue: hsl(220, 98%, 61%);
  --bg-todo: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(233, 11%, 84%);
  --heading-clr: hsl(0, 0%, 98%);
  --font-clr: hsl(236, 6%, 46%);
  --font-clr-hover: hsl(236, 13%, 45%);
  --bottom-buttons-clr: hsl(229, 7%, 70%);
  --shadow-clr: rgb(214, 207, 220);
  --bg-clr: hsl(0, 0%, 98%);
  --font-clr-sec: hsl(236, 33%, 92%);
  --bg-image: url("./images/bg-desktop-light.jpg");
}

:root {
  --ff-josefin: "Josefin Sans", sans-serif;
}

/* Box sizing RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-color: var(--bg-clr);
  font-family: var(--ff-josefin);
  font-size: 18px;
  /* display: flex; */
  /* justify-content: center; */
}

/*---------------------HEADER & THEME-------------------------------*/
header {
  padding-top: 80px;
  padding-bottom: 40px;
}

.container {
  min-width: 700px;
  width: 100%;
  padding-left: 31%;
  padding-right: 31%;
}

.todo-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--heading-clr);
  letter-spacing: 15px;
}

.theme-toggle-btn #theme {
  display: none;
}

.theme-toggle-btn #theme + label::before {
  content: "";
  background: url(./images/icon-sun.svg);
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.theme-toggle-btn #theme:checked + label::before {
  background: url(./images/icon-moon.svg);
}

/*---------------------INPUT TASK CONTAINER-------------------------*/
.input-container {
  height: 64px;
  width: 100%;
  border-radius: 6px;
  background-color: var(--bg-todo);
  margin: 0 0 25px;
  /* padding: 0 26px; */
  /* position: relative; */
  display: flex;
  align-items: center;
}

.for-circle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--very-dark-blue);
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

#input-task {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 64px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--font-clr);
  letter-spacing: -0.3px;
}

::placeholder {
  color: var(--very-dark-blue);
  opacity: 0.8;
}

/*---------------------TODO CONTAINER-------------------------------*/
.box-shadow {
  box-shadow: 0px 16px 30px 1px var(--shadow-clr);
  border-radius: 6px;
  overflow: hidden;
}

.todo-container {
  height: 64px;
  width: 100%;
  border-bottom: 0.5px solid var(--very-dark-blue);
  background-color: var(--bg-todo);
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.todo-container button {
  display: none;
}
.todo-container:hover button {
  display: inline;
  cursor: pointer;
}

.todo-container label {
  cursor: pointer;
  color: var(--font-clr);
  display: flex;
  align-items: center;
}

.todo-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkmark {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--very-dark-blue);
  margin-left: 25px;
  margin-right: 25px;
  flex-shrink: 0;
}

/* Gradient border of checkmark on hover */
.todo-container input[type="checkbox"]:hover ~ .checkmark {
  border-radius: 50%;
  border: double 1.8px transparent;
  background-image: linear-gradient(var(--bg-todo), var(--bg-todo)),
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.todo-container input[type="checkbox"]:checked ~ .checkmark {
  border: none;
  background: center url(./images/icon-check.svg) no-repeat,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-container input[type="checkbox"]:checked ~ .text {
  text-decoration: line-through;
  color: var(--very-dark-blue);
}

.remove-todo-item {
  width: 18px;
  height: 18px;
  background: url(./images/icon-cross.svg);
  background-color: transparent;
  margin-left: auto;
  margin-right: 25px;
  outline: none;
  border: none;
  color: var(--very-dark-blue);
}

/*---------------------BOTTOM BUTTONS-------------------------------*/
.bottom-btns {
  height: 64px;
  width: 100%;
  /* border-radius: 5px; */
  /* border-top-right-radius: 0%; */
  /* border-top-left-radius: 0%; */
  background-color: var(--bg-todo);
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--bottom-buttons-clr);
  padding: 20px 20px 20px 27px;
}
.filters {
  font-weight: 700;
}
.filters input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filters label {
  cursor: pointer;
  padding: 0 10px;
}

.filters label:hover {
  color: var(--font-clr-hover);
}
.filters input[type="radio"]:checked ~ span {
  color: var(--bright-blue);
}

.clear-completed {
  cursor: pointer;
}

.clear-completed:hover {
  color: var(--font-clr-hover);
}

.hidden {
  display: none;
}

/* drag and drop */
.drag-to-reorder {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 4em;
  color: var(--very-dark-blue);
}
