.dark-mode {
  --bright-blue: hsl(220, 98%, 61%);
  --bg-todo: hsl(235, 24%, 19%);

  --bg-clr: hsl(235, 21%, 11%);
  --font-clr: hsl(234, 39%, 85%);
  --heading-clr: hsl(236, 33%, 92%);
  --font-clr-hover: hsl(236, 33%, 92%);
  --font-clr-sec: hsl(234, 11%, 52%);
  --very-dark-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  --bg-image: url("./images/bg-desktop-dark.jpg");
}

.light-mode {
  --bright-blue: hsl(220, 98%, 61%);
  --bg-todo: hsl(0, 0%, 98%);
  --very-dark-blue: hsl(233, 14%, 35%); /*change*/
  --heading-clr: hsl(0, 0%, 98%);

  --bg-clr: hsl(231, 14%, 90%);
  --font-clr-sec: hsl(236, 33%, 92%);
  --font-clr: hsl(236, 9%, 61%);
  --font-clr-hover: hsl(235, 19%, 35%);
  /* --bg-todo: hsl(0, 0%, 98%);
  --bg-clr: hsl(233, 11%, 84%);
  --font-clr-sec: hsl(236, 33%, 92%);
  --font-clr: hsl(236, 9%, 61%);
  --font-clr-hover: hsl(235, 19%, 35%); */
  --bg-image: url("./images/bg-desktop-light.jpg");
}

:root {
  --ff-josefin: "Josefin Sans", sans-serif;
}

/* Box sizing RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-color: var(--bg-clr);
  font-family: var(--ff-josefin);
  font-size: 18px;
  display: flex;
  justify-content: center;
}

/*------------------------------------------------------------------*/
/*---------------------HEADER & THEME-------------------------------*/
/*------------------------------------------------------------------*/
header {
  padding-top: 100px;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.todo-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--heading-clr);
  letter-spacing: 0.5rem;
}

.theme-toggle-btn #theme {
  display: none;
}

.theme-toggle-btn #theme + label::before {
  content: "";
  background: url(./images/icon-sun.svg);
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.theme-toggle-btn #theme:checked + label::before {
  background: url(./images/icon-moon.svg);
}

/*------------------------------------------------------------------*/
/*---------------------INPUT TASK CONTAINER-------------------------*/
/*------------------------------------------------------------------*/
.input-container {
  height: 64px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-todo);
  margin: 0 0 25px;
  /* padding: 0 26px; */
  /* position: relative; */
  display: flex;
  align-items: center;
}

/* .for-circle {
  content: ;
  width: 25px;
  height: 25px;
  margin-left: 25px;
  
  border: 1px solid var(--font-clr-hover);
  border-radius: 50%;
  
} */

.for-circle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--very-dark-blue);
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

#input-task {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 64px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--font-clr);
  letter-spacing: -0.3px;
}

::placeholder {
  color: var(--very-dark-blue);
  opacity: 0.8;
}

/*------------------------------------------------------------------*/
/*---------------------TODO CONTAINER-------------------------------*/
/*------------------------------------------------------------------*/

.todo-container {
  height: 64px;
  width: 100%;
  border-bottom: 0.5px solid var(--very-dark-blue);
  background-color: var(--bg-todo);
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.todo-container button {
  display: none;
}
.todo-container:hover button {
  display: inline;
  cursor: pointer;
}

.todo-container label {
  cursor: pointer;
  color: var(--font-clr);
  display: flex;
  align-items: center;
}

.todo-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

/* test */
.checkmark {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--very-dark-blue);
  margin-left: 25px;
  margin-right: 25px;
}
.todo-container input[type="checkbox"]:hover ~ .checkmark {
  border-color: wheat;
}
.todo-container input[type="checkbox"]:checked ~ .checkmark {
  background: center url(./images/icon-check.svg) no-repeat,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.todo-container input[type="checkbox"]:checked ~ .text {
  text-decoration: line-through;
  color: var(--very-dark-blue);
}

/* test end */

.remove-todo-item {
  width: 18px;
  height: 18px;
  background: url(./images/icon-cross.svg);
  background-color: transparent;
  margin-left: auto;
  margin-right: 25px;
  outline: none;
  border: none;
  color: var(--very-dark-blue);
}

/* .todo-container label::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--very-dark-blue);
  margin-left: 25px;
  margin-right: 25px;
}

.todo-container label:hover::before,
.todo-container input[type="checkbox"]:hover + label::before {
  border-color: wheat;
}

.todo-container input[type="checkbox"]:checked + label::before {
  content: url(./images/icon-check.svg);
  border: none;
  background-image: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--very-dark-blue);
} */

/*------------------------------------------------------------------*/
/*---------------------BOTTOM BUTTONS-------------------------------*/
/*------------------------------------------------------------------*/
.bottom-btns {
  height: 64px;
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  background-color: var(--bg-todo);
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--very-dark-blue);
  padding: 20px 20px 20px 27px;
}
.filters {
  font-weight: 700;
}
.filters input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filters label {
  cursor: pointer;
  padding: 0 10px;
}

.filters label:hover {
  color: var(--font-clr-hover);
}
.filters input[type="radio"]:checked ~ span {
  color: var(--bright-blue);
}

.clear-completed {
  cursor: pointer;
}

.clear-completed:hover {
  color: var(--font-clr-hover);
}

.hidden {
  display: none;
}

/* drag and drop */
.drag-to-reorder {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 4em;
  color: var(--very-dark-blue);
}
